<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Start</title>
</head>
<body>
	<h1>Start Page</h1>
	<form action="http://localhost:5000/posts/startvote" method="post">
		<label for="VoterName">Name: </label>
		<input type="text" name="VoterName" required>
		<label for="VoterClass">Class: </label>
		<select id="VoterClass" name="VoterClass" required>
			<option value="11">11</option>
			<option value="12">12</option></select>
		<label for="VoterSection">Section</label>
		<select name="VoterSection" id="VoterSection" required>
			<option value="A">A</option>
			<option value="B">B</option>
			<option value="C">C</option></select>
		<input type="submit" name="SubmitBtn" value="Start">
	</form>
</body>
</html>